Icon\
VirtuialPetCS/Assets.xcassets/AppIcon.appiconset/Icon
VirtuialPetCS/Assets.xcassets/Icon
VirtuialPetCS/Assets.xcassets/fish.imageset/Icon
VirtuialPetCS/Base.lproj/Icon
VirtuialPetCS/Icon
VirtuialPetCSTests/Icon
VirtuialPetCSUITests/Icon
